.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 210px;
  margin: 0 auto;
  row-gap: 26px;

  &__icon {
    width: 66px;
    height: 66px;

    svg {
      width: 100%;
      height: 100%;
      fill: #808080;
    }
  }

  &__text {
    font-family: Inter, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #808080;
  }
}
