@import "../shared/styles/button";

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 22px 12px;
  row-gap: 18px;
  font-size: 1.2em;
}

.button {
  @include button();
}
