:root {
  --white: #ffffff;
  --white-main: rgba(255, 255, 255, 0.87);

  --light: #f6eded;
  --light-opacity-40: rgba(#f6eded, 0.4);

  --black-main: #1a1a1a;
  --black-light: #242424;

  --grey-main: rgb(133, 133, 133);
  --grey-light: rgb(181, 176, 176);
  --grey-dark: #323232;
  --grey-red: #555050;
  --grey-green: #464f44;

  --green-main: #078e3b;
  --green-light: #63f19a;

  --red: #ff0000;
}
