.user-page {
  display: flex;
  width: 100%;
  column-gap: 26px;
  position: relative;

  &__aside {
    @include font(400, 22px, 140%);
    display: flex;
    width: 40%;
    max-width: 292px;
    flex-shrink: 0;
    position: relative;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    background-color: transparent;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: calc(60% - 26px);
  }

  &__icon {
    width: 66px;
    height: 66px;

    svg {
      width: 100%;
      height: 100%;
      fill: #808080;
    }
  }

  &__text {
    text-align: center;
    color: #808080;
  }
}
