@import "@/shared/styles/env/index.scss";

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 210px;
  margin: 0 auto;
  row-gap: 26px;
}

.empty-list-icon {
  width: 56px;
  height: 32px;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-white;
  }
}

.empty-list-text {
  @include font(400, 22px, 140%);
  text-align: center;
  color: $color-white;
}
